<div class="progress mb-4" *ngIf="!books.length">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>


<br-create-book (create)="addBookToList($event)"></br-create-book>





<br-book
    *ngFor="let b of books"
    [book]="b"
    (rate)="updateSortList($event)"></br-book>

Anzahl Bücher: {{ books.length }}

<hr>


<a [href]="url">Zur Website</a>
/
{{ d | date:'fullDate' | uppercase }}


<p>
    <br-fancy-button></br-fancy-button>
</p>

<!-- <td [attr.colspan]="3"></td> -->