<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary testing-rating-box">{{ book.rating }}</span>
      </h2>
    </div>
    <span *ngFor="let r of getStars()">⭐️</span>
    <p>{{ book.description }}</p>

    <p>
      <button class="btn btn-secondary mr-2 testing-rate-up-btn" (click)="rateUp()">+</button>
      <button class="btn btn-secondary mr-2" (click)="rateDown()">-</button>
      <a [routerLink]="['/book', book.isbn]">Details</a>
    </p>
  </div>
</div>